---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';

import Hero2 from '~/components/widgets/Hero2.astro';
// import CallToAction from '~/components/widgets/CallToAction.astro';
// import Features3 from '~/components/widgets/Features3.astro';
import Content from '~/components/widgets/Content.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import EmailForm from '~/components/common/EmailForm.astro';
// import Stats from '~/components/widgets/Stats.astro';

// import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

// const appStoreImg = '~/assets/images/app-store.png';
// const appStoreDownloadLink = 'https://github.com/onwidget/astrowind';

// const googlePlayImg = '~/assets/images/google-play.png';
// const googlePlayDownloadLink = 'https://github.com/onwidget/astrowind';
const heroImg = '~/assets/images/hero-leftv2.png';

const metadata = {
  title: 'Boom - PayFi on Bitcoin',
};
---

<Layout metadata={metadata}>
  <!-- <Fragment slot="announcement"></Fragment> -->
  <Fragment slot='header'>
    <Header
      links={[
        { text: 'Features', href: '#features' },
        { text: 'Blog', href: 'https://blog.boom.money/' },
        { text: 'Docs', href: 'https://docs.boom.money' },
      ]}
      actions={[
        // {
        //   text: 'Download',
        //   href: '#download',
        // },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline='experience global financial freedom'
    id='home'
  >
    <Fragment slot='image'>
      <Image
        src={heroImg}
        alt='Boom Wallet Hero Image'
        width={480}
      />
    </Fragment>
    <Fragment slot='title'>
      <span class='text-accent dark:text-white highlight'>Live the Bitcoin Economy </span>
      <!-- : <br /> professional
      websites <span class="hidden xl:inline">made easy</span> -->
    </Fragment>

    <Fragment slot='subtitle'>
      <span class='hidden sm:inline'
        >Boom makes Bitcoin easy, practical, and borderless, empowering you to send, shop, and grow—your way.</span
      >
    </Fragment>

    <Fragment slot='content'>
      <EmailForm />
    </Fragment>
    <!-- <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div> -->
  </Hero2>

  <!-- Features3 Widget ************** -->

  <!-- <Features3
    id="features"
    title="How to use our app?"
    subtitle="Tired of spending hours crafting documents from scratch? Our app offers an innovative solution. With a wide array of professionally designed templates, you can now create stunning documents in minutes. Explore our templates now and experience the difference."
    tagline="Step-by-step guide"
    columns={2}
    items={[
      {
        title: 'Download and install the app',
        description: `Begin your journey by downloading our user-friendly app from your device's app store or our official website.`,
        icon: 'tabler:square-number-1',
      },
      {
        title: 'Sign up',
        description:
          'Create your account by providing the necessary information, enabling you to access our full range of features.',
        icon: 'tabler:square-number-2',
      },
      {
        title: 'Browse templates',
        description: 'Explore our diverse collection of website templates, categorized for easy navigation.',
        icon: 'tabler:square-number-3',
      },
      {
        title: 'Preview and select a template',
        description: `Visualize the potential of each template through previews, then choose the one that aligns best with your project's needs.`,
        icon: 'tabler:square-number-4',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1521517407911-565264e7d82d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80',
      alt: 'Colorful Image',
    }}
  /> -->

  <!-- Content Widget **************** -->
  <div id='features'></div>
  <Content
    isReversed
    items={[
      {
        title: 'Build, Sell & Grow—All from Your Wallet',
        description:
          '<li> Create your own shop in minutes and start selling globally.</li>' +
          '<li> Manage everything in one place—list products, accept payments, and connect with customers effortlessly.</li>' +
          '<li> Integrated chat lets you talk directly with buyers, handle orders, and build relationships—all within Boom.</li>',
        icon: 'tabler:wand',
      },
      {
        title: 'Shop, Pay & Connect—Anywhere',
        description:
          '<li>Pay your friends, local vendors, or online merchants effortlessly.' +
          '<li>Split bills in a tap, settle payments, and keep track—all with built-in chat for easy coordination.',
        icon: 'tabler:message',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1576153192621-7a3be10b356e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1674&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot='content'>
      <h3 class='text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2'>What You Can Do with Boom</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Stay Informed & in Control',
        description:
          '<li>Get real-time market updates, stay on top of Bitcoin price movements, and never miss key insights.</li>' +
          '<li>Access news, discussions, and events—all within the app.</li>',
        icon: 'tabler:shopping-bag',
      },
      {
        title: 'Secure, Fast & Simple',
        description:
          '<li>Security, while keeping full ownership of your funds.</li>' +
          '<li>Experience the simplicity of modern digital payments—no middlemen, no limits.</li>',
        icon: 'tabler:currency-bitcoin',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1453738773917-9c3eff1db985?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Vintage Image',
    }}
  >
    <Fragment slot='content'>
      <!-- <h3 class='text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2'>Boom Smart Shops</h3> -->
    </Fragment>
  </Content>

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    title="Statistics of our app"
    stats={[
      { amount: '20K', icon: 'tabler:download' },
      { amount: '18.5K', icon: 'tabler:users' },
      { amount: '4.7', icon: 'tabler:user-star' },
    ]}
  /> -->

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title='What our users say?'
    testimonials={[
      {
        testimonial: `I've been Stacking from the beginning, and Boom is the simplest crypto wallet that I've used.`,
        name: 'sammiek6720',
        job: 'User',
        image: {
          src: '~/assets/images/image08.png',
          alt: 'sammiek6720 Image',
        },
      },
      {
        testimonial: `The Boom team are true Stacks OG's who understand the value of building good platforms for this ecosystem.`,
        name: 'Muneeb Ali',
        job: 'Stacks Founder',
        image: {
          src: '~/assets/images/image02.jpg',
          alt: 'Muneeb Ali Image',
        },
      },
      {
        testimonial: 'This will become an integral element of our online business tech stack.',
        name: '@Electra_Frost',
        job: 'Accounting',
        image: {
          src: '~/assets/images/image010.jpg',
          alt: '@Electra_Frost Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'Read more testimonials',
      href: 'https://boom.money/',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title='Frequently asked questions'
    items={[
      {
        title: 'How do I install Boom Wallet on my device?',
        description:
          'Boom Wallet is a Progressive Web App (PWA), which means you can install it directly from your web browser without needing to visit an app store. Simply navigate to our website using your mobile device or desktop browser. You\'ll see a prompt or an option in your browser menu to "Add to Home Screen" or "Install App." Tap that, and Boom Wallet will be added to your device for quick and easy access.',
      },
      {
        title: 'Is Boom Wallet secure, and do I control my private keys?',
        description:
          'Absolutely! Your security and privacy are our top priorities. With Boom Wallet, you have full control over your private keys—we never have access to them or your funds. This means your crypto assets are securely stored, and only you can authorize transactions. Remember the golden rule: "Your keys, your crypto—no exceptions."',
      },
      {
        title: 'What is Stacks Pay, and how does it work with Boom Wallet and Boom Smart Shops?',
        description: `Stacks Pay is a payment protocol that simplifies crypto transactions by using easy links and QR codes—think of it like the convenience of Lightning Network, but without the complexity. In Boom Wallet, you can send and receive payments effortlessly using Stacks Pay. For merchants using Boom Smart Shops, Stacks Pay enables seamless acceptance of Bitcoin and multiple Stacks tokens through smart contracts, making transactions smooth and hassle-free.`,
      },
      {
        title: 'How do I use the in-wallet chat feature to communicate with friends and merchants?',
        description:
          'Our in-app chat lets you connect directly with friends and merchants without leaving Boom Wallet. To start chatting, open your wallet and select the contact or merchant you wish to communicate with. You can securely exchange messages without exposing any personal information, enhancing your crypto experience by keeping all your interactions in one secure place.',
      },
      {
        title: 'How do Boom Smart Shops benefit merchants compared to traditional platforms?',
        description:
          'Boom Smart Shops empower merchants by leveraging decentralized, smart contract-based technology. Unlike traditional platforms that often charge hefty fees and require complex setups, Boom Smart Shops allow you to accept Bitcoin and multiple Stacks tokens with ease. Transactions are processed through smart contracts, ensuring security and transparency without intermediaries. Plus, with Stacks Pay integration, you can receive payments via simple links or QR codes.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <!-- <CallToAction
    id="download"
    title="Download our app now!"
    subtitle="Access a variety of stunning templates, simplify your creative process, and elevate your online presence."
  >
    <div slot="actions" class="flex max-w-sm gap-4">
      <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button>
    </div>
  </CallToAction> -->
</Layout>
